
<div class="modal" id="loadingModal">
    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Procesando</h4>
            </div>
            <div class="modal-body">

                <div class="text-center ">
                    <i class="fa fa-circle-o-notch fa-spin text-lg text-muted-lt"></i>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
